<!-- <h1>
  {{ name.toUpperCase() }}
</h1>

<h2>
  {{ title }}
</h2>

<h3>
  {{hello}}
</h3>

<h2>
  {{2 + 2}}
</h2>

<h1>
  {{'hello'.toUpperCase()}}
</h1>

<app-login></app-login>


<app-login></app-login>

<app-login></app-login> -->


<!-- directives demo -->

<router-outlet></router-outlet>

<!-- @if (state) {
  <div>Heading tag to be shown state = true</div>
}

<ol>
  @for (item of list; track $index) {
    <li>item</li>
  }
</ol>

<ol>
  @for (item of studentsData; track item.name) {
    <li>{{item.name}}, {{item.dob}}, {{item.age}} </li>
  }
</ol>

@switch (block) {
  @case (0) {
    <h1>Block 0</h1>
  }
  @case (1) {
    <h1>Block 1</h1>
  }
  @case (2) {
    <h1>Block 2</h1>
  }
  @default {
    <h1>Block incorrect</h1>
  }
}

<button (click)="updateBlock()">Update Block</button>
<br>
<button style="margin-top: 10px;" (click)="updateColor('red')">Red</button>
<button (click)="updateColor('pink')">Pink</button>
<button (click)="updateColor('orange')">Orange</button>

@switch (color) {
  @case ('red') {
    <h1 style="background-color: red;">Red color</h1>
  }
  @case ('orange') {
    <h1 style="background-color: orange;"> Orange color</h1>
  }
  @case ('pink') {
    <h1 style="background-color: pink;"> Pink color</h1>
  }
  @default {
    <h1>No color matched</h1>
  }
}
-->
<!-- pipes demonstration -->
<h1>{{title | uppercase}}</h1>
<h2>{{amount | currency:'INR'}}</h2> 
<!-- <h1>{{date | date}}</h1> -->
 <!-- <h1>{{date | date:'mm'}}</h1> -->
<!-- parameter of the pipe not to be passed using "|" -->

<!-- custom pipe -->
<h1>{{title | trimText}}</h1>
<h1>{{title | trimText:5}}</h1> <!--passing an argument in the custom pipe-->

<h1>{{title | trimText:7 | uppercase}}</h1> <!--trim text needs to return string coz uppercase pipe takes in string only-->

<h1>My First Attribute Directive</h1>
<h2>Pick a highlight color</h2>
<div>
  <input type="radio" name="colors" (click)="color = 'lightgreen'" />Green
  <input type="radio" name="colors" (click)="color = 'yellow'" />Yellow
  <input type="radio" name="colors" (click)="color = 'cyan'" />Cyan
</div>
<h1 [appHighlightText]="color">Hightlight Me!</h1> 