.btn {
    color: black;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: 20px;
    cursor: pointer;
    border-width: 3px;
    border-color: black;
}
.btn:hover {
    border: 0px;
}
.bg-green {
    background-color: green;
}
.bg-red {
    background-color: red;
}
.bg-yellow {
    background-color: yellow;
}
.counter {
    width: 100px;
    background: gray;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 30px;
}